h1{
    position: absolute;
    top: 7%;
    width: 100%;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, serif;
    color: purple;
    text-shadow: 5px 5px rgba(255, 0, 0, 0.501)
}
body, html{
    height:100%;
}
div{
    div{
        background-color: none;
        position: absolute;
        top: 70%;
        padding-left: 5%;
        padding-right: 5%;
        p{
            color:darkslateblue;
        }
    }
}
div{
    p{
        padding-top: 10px;
        padding-right: 10px;
        padding-left: 10px;
        font-family:'Times New Roman', Times, serif;
        font-size: large;
        color:#8201ad;
    }
}