.NavBars{
    background-image: url('../images/NavBars.png');
    height: 100%;
    background-size: cover;
    background-attachment:scroll;
    background-position: center;
    background-repeat: no-repeat;
}