$primary: goldenrod;

section{
    background-color: $primary;
    padding-bottom: 5px;
    ul{
        justify-content: flex-end;
        li{
            a{
                text-decoration: none;
                color: crimson;
            }
            
        }
    }
}